.leftMenu {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 200px;
    margin: 0;
    padding: 20px 10px;
    background-color: #373737;
}

.menuLink {
    border-color: #414141;
    background: #4b4b4b;
    color: ghostwhite;
    border-radius: 0.5em;
    height: 40px;
    width: 150px;
    margin: 0;
}