.content{
    position: fixed;
    top: 50px;
    left: 220px; right: 0;
    bottom: 0;

    width: calc(100% - 220px);
    min-width: calc(100% - 220px);
    max-width: calc(100% - 220px);

    overflow-y: scroll;
    overflow-x: scroll;
}