.content {
    position: fixed;
    top: 50px;
    left: 164px;
    right: 0;
    bottom: 0;

    width: calc(100% - 164px);
    min-width: calc(100% - 164px);
    max-width: calc(100% - 164px);

    overflow-y: auto;
    overflow-x: auto;

    text-align: center;
    background-size: cover;

}

.new-form {
    width: 70%;
    background-color: lightgrey;
    margin: 10px auto;
    height: 50px;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 1.5em;
}

.new-nat-form button {
    width: 200px;
    border-radius: 2em;
}

.buttonDiv button {
    border-radius: 1em;
    width: 100px;
}


.record {
    background-color: lightgrey;
    border-radius: 5px;
    width: 70%;
    padding: 5px;
    margin: 20px auto;
}

.record div button, .record form button, .record button {
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 0.5em;
}

.showDiv input {
    height: 2em;
    border-radius: 0.5em;
}


.changes button {
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 0.5em;
}

.confirm-frame {
    width: 60%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}


.delete-confirm {
    padding-top: 10px;
}