.showDiv {
    display: inline-grid;
    width: 30%;
}

.buttonDiv {
    display: inline-grid;
    vertical-align: bottom;
    margin-left: 1%;
}
.changes {
    display: inline;
}

.inputAdd{
    width: 80%;
    margin: 0 auto;
}