.showNatDiv {
    display: inline-grid;
    width: 15%;
}

.buttonDiv {
    display: inline-grid;
    vertical-align: bottom;
    margin-left: 1%;
}
.changes {
    display: inline;
}

.inputNatAdd{
    width: 80%;
    margin: 0 auto;
}